<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="argusCdFolder" value="../../exchange/Argus_CD/raw"/>
    <add key="argusConsumerFolder" value="../../exchange/Argus_Consumer"/>
    <add key="baiBenchmarkSbFolder" value="../../exchange/Bai.Benchmark.Sb.Files"/>    
    <add key="baiBenchmarkDpFolder" value="../../exchange/Bai.Benchmark.Dp.Files"/>    
    <add key="novantasSaleScapeDrFolder" value="../../exchange/Novantas.SaleScape.Dr.Files"/>
    <add key="novantasSaleScapeDrFileName" value="Novantas SaleScape"/>

    <!-- <add key="defaultProject" value="argusConsumer"/> -->
    <add key="fileParserRowsLimit" value="200000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>